body {
  font-size: 16px;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #f5f5f5;
  margin: 0;
}

h1 {

  font-weight: 400;
  color: #0B468D;
  font-size: 2em;
  margin: 1.6em 0 0.5em 0;
}

h2 {
  font-weight: 400;
  color: #5D91D0;
  font-size: 1.5em;
  padding: 1.25em 0 0.5em 0;
}

h3 {
  font-weight: 400;
  color: #666;
  font-size: 1.2em;
  margin: 1.5em 0 0.5em 0;
}

h4 {
  color: #333;
  font-weight: 400;
  font-size: 1em;
}

td {
  padding: 0.5em 0.5em;
  vertical-align: top;
}

li {
  padding: 6px 0;
}

hr {
  margin: 2em 0 0 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(60, 120, 191, 0) 0%, rgba(60, 120, 191, 1) 25%, rgba(60, 120, 191, 1) 75%, rgba(60, 120, 191, 0) 100%);
  text-align: center;
}

.main {
  padding: 1em 5em 5em 5em
}

/* Defining Header and content */

.header {
  position: relative;
  padding: 1em 1.5em 3em 0em;
  text-align: left;
  background: #3c77bf;
  color: white;
  font-size: 1.2em;
}

.avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%
}

.header .a {
  display: inline-block;
  width: 10%;
  height: auto;
  padding: 0em 5em;
  vertical-align: center;
  z-index: 1;
}

.header .b {
  display: inline-block;
  width: 50%;
  height: auto;
  padding: 0em 0em 0em 3em;
  vertical-align: center;
  z-index: 1;
}

.banner {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  transform: scaleX(-1);
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0));
}

/* Defining Navigation bar */
.nav {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  font-size: 0;
}

.nav a {
  color: #506975;
  font-size: 1.2em;
  position: relative;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.dropdown {
  font-size: 1rem;
  overflow: hidden;
  display: inline-block;
}

.dropdown-btn .dropdown {
  font-size: 1.2em;
  padding: 0.5em;
  text-align: left;
  outline: none;
  border: none;
  margin: 0;
}

.nav a:hover, .dropdown:hover {
  background-color: #3C78BF;
  color: white;
}

.dropdown-container {
  display: none;
  position: absolute;
  background-color: #3C78BF;
  min-width: 190px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  overflow: hidden;
}

.dropdown-container a {
  color: white;
  padding: 0.5em;
  text-align: left;
  display: block;
  text-decoration: none;
}

.dropdown-container a:hover {
  background-color: #5D91D0;
}

.dropdown:hover a {
  color: white;
}

.dropdown:hover .dropdown-container {
  display: block;
}

.anchor::before {
  content: "";
  display: block;
  height: 30px; /* fixed header height*/
  margin: -50px 0 0; /* negative fixed header height */
}

.width-wrap {
  max-width: 1440px;
  margin: auto;
  overflow: auto;
}